@import '../../../../scss/main';

.islandMonumentMain {
    height: 450px;
    margin: 100px 0 70px;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.globalSalesMain {
    text-align: center;

    .globalSalesTitle {
        .globalSalesHead {
            h2 {
                @include h2;
            }
        }

        .globalSalesPara {
            p {
                @include p;

                a {
                    @include arial;
                    color: var(--dark-black-color);
                }
            }
        }
    }

    .globalSalesDisc {
        @include flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 80px 0 40px;
        text-align: start;

        .globalSalesCard {
            flex-basis: calc(33% - 30px);
            padding: 0 0 40px;

            .globalSalestHead {
                padding: 0 0 15px;

                strong {
                    @include anchorArial;
                }
            }

            .globalSalesPara {
                p {
                    @include p;

                    a {
                        display: block;
                        color: var(--dark-black-color);
                    }
                }
            }
        }
    }
}

@media (max-width:768px) {
    .globalSalesMain {
        .globalSalesTitle {
            max-width: 480px;
            margin: 0 auto;
        }

        .globalSalesDisc {
            padding: 0 60px;

            .globalSalesCard {
                flex-basis: calc(50% - 30px);
            }

        }   
    }
}

@media (max-width:576px) {
    .globalSalesMain {
        .globalSalesTitle {
            min-width: 100%;
            padding: 0 20px;
        }

        .globalSalesDisc {
            padding: 30px 30px 0;

            .globalSalesCard {
                flex-basis: 100%;
                padding: 0 0 30px;
            }
        }
    }
}