@import '../../../../scss/main';

.seaMain {
    position: relative;

    .seaAttachnment {
        background-attachment: scroll;
    }

    .seaCard {
        background-color: var(--color-white);
        position: absolute;
        right: 0;
        bottom: 0;
        max-width: 1320px;
        padding: 66px 60px 60px;

        .seaCardMain {
            @include flex;
            justify-content: space-between;
            margin: 100px 50px 0;

            .seaLeft {
                align-items: center;
                @include flex;
                width: 30%;
                margin-right: 60px;
                border-top: 1px solid var(--dark-black-color);
                border-bottom: 1px solid var(--dark-black-color);

                .seaCardText {
                    text-align: center;

                    .cardHead {
                        h2 {
                            max-width: 330px;
                            @include h2;
                            text-decoration: underline
                        }
                    }

                    .cardPara {
                        p {
                            @include p;
                        }
                    }
                }
            }

            .seaRight {
                width: 70%;

                .seaSlider {
                    .seaSliderCard {
                        padding: 0 15px;

                        .seaSliderDisc {
                            padding: 15px 20px 0;

                            .seaSliderHead {
                                h4 {
                                    @include h4;
                                }
                            }

                            .seaSliderPara {
                                p {
                                    @include p;
                                }
                            }

                            .seaLink {
                                a {
                                    @include anchorArial;
                                }
                            }
                        }
                    }
                }
            }

        }
    }
}


// .seaMain {
//     position: relative;

//     .seaAttachnment {
//         background-attachment: scroll;
//     }

//     .seaCard {
//         max-width: 1320px;
//         padding: 60px;
//         position: absolute;
//         right: 0;
//         bottom: 0;
//         background-color: var(--color-white);
//         @include flex;
//         justify-content: flex-end;

//         .seaCardMain {
//             margin: 100px 50px 0;
//             @include flex;
//             // justify-content: space-between;

//             .seaLeft {
//                 @include flex;
//                 border-top: 1px solid var(--dark-black-color);
//                 border-bottom: 1px solid var(--dark-black-color);
//                 margin-right: 60px;
//                 text-align: center;
//                 align-items: center;
//                 width: 30%;

//                 .seaDisc {

//                     .seaCardHead {
//                         h2 {
//                             @include h2;
//                             text-decoration: underline;
//                             line-height: 35px;
//                         }
//                     }

//                     .seaCardPara {
//                         p {
//                             @include p;
//                         }
//                     }
//                 }
//             }

//             .seaRight {
//                 width: 70%;

//                 .seaSlider {

//                     .seaCardImg {
//                         height: 290px;
//                         width: 215px;
//                         margin-bottom: 10px;

//                         img {
//                             height: 100%;
//                             width: 100%;
//                         }
//                     }

//                     .seaCardDisc {
//                         padding: 0 20px;

//                         .seaCardHead {
//                             h4 {
//                                 @include h4;
//                             }
//                         }

//                         .seaCardPara {
//                             p {
//                                 @include p;
//                             }
//                         }

//                         .seaCardLink {
//                             a {
//                                 @include anchorArial;
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }

// .adriaticMain {
//     position: relative;
//     margin: 120px 0;

//     .adriaticDisc {
//         max-width: 720px;
//         height: 500px;
//         background-color: var(--card-bg-color);
//         @include flex;
//         align-items: center;

//         .adriaticText {
//             max-width: 450px;
//             padding: 60px 30px 60px 60px;

//             .adriaticHead {
//                 h2 {
//                     @include h2;
//                 }
//             }

//             .adriaticPara {
//                 p {
//                     @include p;
//                 }
//             }

//             .adriaticBtn {
//                 button {
//                     @include btnHoverWhite;
//                 }
//             }
//         }
//     }

//     .adriaticImg {
//         position: absolute;
//         right: 0;
//         top: 50px;
//         width: 750px;
//         height: 500px;

//         img {
//             width: 100%;
//             height: 100%;
//             object-fit: cover;
//         }
//     }

// }

@media (max-width:768px) {
    .seaMain {
        .seaAttachnment {
            display: none;
        }

        .seaCard {
            max-width: 768px;
            padding: 0;
            position: relative;

            .seaCardMain {
            max-width: 768px;
                margin: 0;
                padding: 50px 0;
                flex-direction: column;

                .seaLeft {
                    margin: 20px 15px 0;
                    width: 100%;

                    .seaCardText {
                        padding: 30px 0;

                        .cardHead {
                            h2 {
                                max-width: 100%;
                            }
                        }
                    }
                }

                .seaRight {
                    width: 100%;
                }
            }
        }
    }
}