:root {
    --bottom-border-color: hsla(0, 0%, 100%, 0.2);
    --border-color: #696969;
    --dark-black-color: #000;
    --btn-hover-light-gray-color: #666;
    --color-white: #fff;
    --writes-color: #FFFFFF80;
    --opacity-color: rgba(255, 255, 255, 0.5);
    --card-bg-color: #F7F7F7;
    --light-dark-para-color: #262626;
}