:root {
    --bottom-border-color: rgba(0, 0, 0, 0.2);
    --border-color: #696969;
    --dark-black-color: #000;
    --btn-hover-light-gray-color: #666;
    --color-white: #fff;
    --writes-color: #FFFFFF80;
    --opacity-color: rgba(255, 255, 255, 0.5);
    --card-bg-color: #F7F7F7;
    --light-dark-para-color: #262626;
    --form-btn-bg-color: #696969;
    --box-shadow: 0 16px 70px 0 rgba(0, 0, 0, 0.08);
    --light-gray-btn-color: #767676;
    --dark-gray-color: #F7F7F7;
}