@import '../../scss/main';

.footer {
    background-color: var(--dark-black-color);

    .footerMain {
        display: flex;
        padding: 55px 0 18px;
        border-bottom: 1px solid var(--footer-border-color);

        .footerLogo {
            width: 230px;
            margin-right: 35px;
            align-items: start;

            .FooterImg {
                img {
                    width: 150px;
                    height: 40px;
                }
            }
        }

        .linkFooter {
            @include grid5;

            .link1 {
                width: 200px;

                .footerDownArrow {
                    display: none;
                }

                span {
                    @include anchor;
                    text-transform: uppercase;
                    @include arial;
                    color: var(--color-white);
                }

                ul {
                    margin-top: 10px;

                    li {
                        padding-top: 16px;

                        a {
                            text-decoration: none;
                            color: var(--color-white);
                            @include font12;
                            @include arial;
                            letter-spacing: 0;
                        }
                    }
                }
            }
        }
    }

    .socialLink {
        @include flex;
        justify-content: space-between;
        padding: 27px 0 24px;
        align-items: center;

        .socialMedia {
            @include flex;
            gap: 40px;

            img {
                width: 19px;
                height: 19px;
            }
        }

        .writes {
            p {
                color: var(--writes-color);
                @include font600;
                @include font11;
                @include arial;
                text-transform: uppercase;
                letter-spacing: 2.5px;
            }
        }
    }

}

@media (max-width:768px) {
    .footer {
        padding: 0 35px;

        .footerMain {
            flex-direction: column;
            gap: 40px;

            .footerLogo {
                width: 100%;
                margin: 0 auto;

                .FooterImg {
                    margin: 0 auto;
                    max-width: 150px;
                    max-height: 40px;
                }
            }

            .linkFooter {
                .link1 {
                    width: auto;
                }
            }
        }

        .socialLink {
            .socialMedia {
                width: 50%;
            }

            .writes {
                width: 50%;
            }
        }
    }
}

@media (max-width:576px) {
    .footer {
        .footerMain {
            padding: 0;

            .footerLogo {
                padding: 40px 0 0;
            }

            .linkFooter {
                grid-template-columns: 1fr;

                .link1 {
                    @include flex;
                    justify-content: space-between;
                    padding: 20px 0;
                    border-top: 1px solid var(--footer-border-color);

                    ul {
                        display: none;
                    }

                    .footerDownArrow {
                        display: block;
                    }

                }
            }
        }

        .socialLink {
            flex-direction: column;
            gap: 40px;

            .socialMedia {
                width: 100%;
                gap: 30px;
            }

            .writes {
                width: 100%;
                text-align: center;
            }
        }
    }
}